:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --white-text-color: #FFFFFF;
    --white-bgn-color: #FFFFFF;
    --primary-bgn-color: #E5E5E5;
    --secondary-bgn-color: #F4F4FD;
    --footer-bgn-color: #2E2F42;
    --footer-logo-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --border-color:#E7E9FC;
    --brand-color: #4D5AE5;
    --line-height-text: 1.5;
    --font-weight-primary: 600;
    --font-size-primary: 16px;
    --font-size-secondary: 20px; 

}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    line-height: var(--line-height-text);
    color: var(--primary-text-color);
    background-color: var(--white-bgn-color);
}

.list {
    margin: 0;
    padding: 0;
}
.container {
    width: 1158px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

.section {
    padding: 120px;
}

/* Header */

.main-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: var(--font-weight-primary);
}

.logo, .logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.33;
    text-transform: uppercase;
    font-size: 18px;
}

.logo-web {
    color: var(--brand-color);    
}


.navigation-list {
    display: flex;
    align-items: center;
    margin-left: 77px;

    list-style-type: none;
}

.navigation-item + .navigation-item {
   margin-left: 40px; 
}

.navigation-list-item, .logo, .contacts {
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-text-color);
}

.navigation-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
    color: var(--brand-color);
}

/* .navigation-item:visited {
    color: var(--secondary-text-color);
} */

.contacts {
    display: flex;
    margin-left: auto;

    list-style-type: none;
}

.contacts-item {
    margin-left: 40px;

    color: var(--secondary-text-color);
    
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--brand-color);
}

.contacts + .contacts {
    margin-left: 40px;
}

/* Main studio page*/

.hero {
    background-color: var(--footer-bgn-color); 
    text-align: center;
}

.hero-title {
    margin-bottom: 48px;


    color: var(--white-text-color);
    line-height: 1.07;
    font-size: 56px;
}

.hero-button {

    color: var(--white-text-color);
    background-color: var(--brand-color);
    font-weight: var(--font-weight-primary);
    cursor: pointer;
    line-height: 1.19;
    letter-spacing: 0.04em;
}

/* Features */

.features-list {
    display: flex;


    list-style-type: none;

}

.features-list-item + .features-list-item {
    margin-left: 24px;
}


.features-title {
    margin-bottom: 8px;

    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-secondary);
    line-height: 1.2;
}

.features-text {
    color: var(--secondary-text-color);
}

/* Work */
 
.work-title {
    margin-bottom: 72px;
    text-align: center;
}

.work-list {
    display: flex;
    list-style-type: none;
}

.work-list-item + .work-list-item {
    margin-left: 24px;
}

.work-title, .team-title {
    font-weight: var(--font-weight-primary);
    line-height: 1.11;
    font-size: 36px;

}

/* Team */


.team {
    background-color: var(--secondary-bgn-color);
}

.team-title {
    margin-bottom: 72px;

    text-align: center;
}

.team-list {
    display: flex;

    list-style-type: none;
}

.team-card {
    background-color: var(--white-bgn-color);
    text-align: center;
}

.team-card + .team-card {
    margin-left: 24px;
}

.team-img {
    margin-bottom: 32px;
}

.team-member {
    margin-bottom: 8px;

    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-secondary);
    line-height: 1.2;
}

.team-job-title {
    color: var(--secondary-text-color);
}


/* Portfolio page */

.portfolio-button {
    color: var(--brand-color);
    background-color: var(--secondary-bgn-color);
    letter-spacing: 0.04em;
    font-size: var(--font-size-primary);
    cursor: pointer;
    border: var(--border-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-text-color);
    background-color: var(--brand-color);
}

.portfolio-title{
    line-height: 1.2;
    font-size: var(--font-size-secondary);
}


/* Footer */

.footer {
    background-color: var(--footer-bgn-color);
}

.footer-block {
    display: block;
    width: 264px;

}

.footer-logo, .footer-logo-web {
    color: var(--footer-logo-color);
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16;
    text-transform: uppercase;
    font-size: 18px;
}

.footer-logo-web {
    color: var(--brand-color);
}

.footer-text {
    color: var(--footer-text-color);
}